{% load static %}

<nav class="sidenav" id="sidenav">
  <div class="sidenav__logo" id="toggleBtnLogo">
    <img src="{% static 'img/uni.png' %}" alt="Logo" />
    <h3 class="sidenav__title">Selección Docente</h3>
  </div>
  <ul class="sidenav__list">
    {% for modulo in modulos %}
    <li>
      <a href="{{ modulo.url }}"
        ><i class="{{ modulo.icono }}" aria-hidden="true"></i>
        <span>{{ modulo.nombre }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
  <button
    onclick="window.location.href='{{ url_volver|default:'/home' }}'"
    class="sidenav__back"
    id="backBtn"
  >
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    <span>Volver</span>
  </button>
</nav>
<div class="sidenav__overlay" id="sidenavOverlay"></div>