ENVIRONMENT="local"

DEBUG="True"
SITE_NAME="Sistema de Seleccion Docente"
SECRET_KEY="secret-key"
ADMIN_URL="admin/"
EMAIL_PORT="1025"
EMAIL_HOST="mailpit"
DEFAULT_FROM_EMAIL="default-email"
DOMAIN="localhost:8080"
POSTGRES_HOST="postgres"
POSTGRES_PORT="5432"
POSTGRES_DB="selecciondocente"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="123456"