@import url("./input.css");
@import url("./label.css");
@import url("./button.css");

.login {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f7;
}

/* Card */
.login__card {
  width: 420px;
  background: var(--c-white);
  padding: 3rem 2rem;
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-md);
  text-align: center;
}

/* Logo */
.login__logo {
  width: 70px;
  margin-bottom: var(--space-3);
}

/* Títulos */
.login__title {
  font-size: var(--t-size-2xl);
  font-weight: var(--t-weight-bold);
  margin-bottom: var(--space-2);
  color: var(--c-primary);
}

.login__subtitle {
  font-size: var(--t-size-sm);
  color: var(--c-gray-dark-1);
  margin-bottom: var(--space-5);
  line-height: 1.6;
}

/* Forms */
.login__form {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

/* Forgot */
.forgot-link {
  font-size: var(--t-size-sm);
  color: var(--c-primary);
  float: right;
  margin-top: var(--space-1);
  text-align: center;
}

.forgot-link:hover {
  text-decoration: underline;
}

/* Password field */
.password-wrapper {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1rem;
}

.form-remember {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}

.form-remember input {
  width: auto;
  margin: 0;
}

.form-remember label {
  margin: 0;
  font-size: var(--t-size-sm);
}

/* Divider */
.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--space-4) 0;
  color: var(--c-gray);
  font-size: var(--t-size-sm);
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-top: 1px solid var(--c-gray-light-4);
  margin: 0 12px;
}

/* Google button */
.btn-google {
  width: 38px;
  height: 38px;
  border-radius: var(--radius-md);
  background: var(--c-gray-light-4);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
  border: none;
}

.btn-google img {
  width: 20px;
}

.alert-error {
  background: #ffe5e5;
  padding: 0.75rem;
  border-radius: var(--radius-md);
  color: #b91c1c;
  margin-bottom: var(--space-3);
  font-size: var(--t-size-sm);
}